#box1{

    padding: 20px;
    margin: 45px;
}
#box2{

    padding: 25px;
    margin: 55px;
}
#box3{

    padding: 50px;
    margin: 60px;
}
#box4{

    padding: 35px;
    margin: 10px;
}
#box5{

    padding: 15px;
    margin: 30px;
}

/*padding shida sivrce,marging gare*/