#p1,#p2{
    text-align: center;  /*ucvlis texts mdebareobas */
    text-transform: uppercase; /*am shemtxvevashi texti didi asoebit gamochndeba*/
    text-decoration-line: inherit; 
    text-shadow: 0cap; /*textis chrdili*/
}